In [43]:
# Qual a probabilidade da pessoa ficar mais de 35 minutos na fila?
## Dados:
## - Sample size: 10 milhões
## - Média: 25
## - Desvio padrão: 5

import random
import numpy as np
import matplotlib.pyplot as plt

resultados = []
total = 10000000
contador = 0

for _ in range(total):
    m, s = 25, 5
    n = random.gauss(m, s)
    resultados.append(n)

for t in resultados:
    if t >= 35:
        contador += 1

print(contador / total)

0.0227317

In [57]:
# Importa a biblioteca SQLite para manipulação do banco de dados
import sqlite3

# Estabelece conexão com o banco de dados chinook.db
conn = sqlite3.connect("assets/chinook.db")

# Define a query SQL para selecionar todos os registros da tabela customers
query = """
    SELECT * FROM customers;
"""

# Executa a query e armazena todos os resultados
result = conn.execute(query).fetchall()

# Exibe os cinco primeiros registros retornados pela query
for row in result[:5]:
    print(row)

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)

In [59]:
# Importa a biblioteca SQLite para manipulação do banco de dados
import sqlite3

# Estabelece conexão com o banco de dados chinook.db
conn = sqlite3.connect("assets/chinook.db")

# Define a query SQL para selecionar os 3 primeiros registros da tabela customers
query = """
    SELECT * FROM customers
    LIMIT 3;
"""

# Executa a query e armazena todos os resultados
result = conn.execute(query).fetchall()

# Exibe os cinco primeiros registros retornados pela query
for row in result:
    print(row)

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)

In [73]:
# Importa a biblioteca SQLite para manipulação do banco de dados
import sqlite3

# Estabelece conexão com o banco de dados chinook.db
conn = sqlite3.connect("assets/chinook.db")

# Define a query SQL para selecionar os 3 primeiros registros da tabela customers do Canadá
query = """
    SELECT * FROM customers
    WHERE country = 'Canada'
    LIMIT 3;
"""

# Executa a query e armazena todos os resultados
R = conn.execute(query).fetchall()

# Exibe os cinco primeiros registros retornados pela query
for row in R:
    print(row)

(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', '+1 (780) 434-4554', '+1 (780) 434-5565', 'mphilips12@shaw.ca', 5)
(15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', '+1 (604) 688-2255', '+1 (604) 688-8756', 'jenniferp@rogers.ca', 3)

In [75]:
# Importa a biblioteca SQLite para manipulação do banco de dados
import sqlite3

# Estabelece conexão com o banco de dados chinook.db
conn = sqlite3.connect("assets/chinook.db")

# Define a query SQL para selecionar os 3 primeiros registros da tabela customers do Canadá
query = """
    SELECT * FROM customers
    WHERE country = 'Canada';
"""

# Executa a query e armazena todos os resultados
R = conn.execute(query).fetchall()

# Exibe quantos clientes são canadenses
print(len(R))

8

In [79]:
# Importa a biblioteca SQLite para manipulação do banco de dados
import sqlite3

# Estabelece conexão com o banco de dados chinook.db
conn = sqlite3.connect("assets/chinook.db")

# Define a query SQL para selecionar os 3 primeiros registros da tabela customers do Canadá
query = """
    SELECT COUNT(*)
    FROM customers
    WHERE country = 'Canada';
"""

# Executa a query e armazena todos os resultados
R = conn.execute(query).fetchall()

# Exibe quantos clientes são canadenses
print(R)

[(8,)]